modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm dev"
waitForPort = 5000

[[ports]]
localPort = 4416
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXT_PUBLIC_SITE_URL = "https://clypso.qzz.io/"
NEXT_PUBLIC_GOOGLE_VERIFICATION = "i don't have it "
